@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome</h1>

Hey there! I am Paritosh Tiwari, graduate student at The University of Texas at Dallas majoring in Information Technology and Management.
I am currently looking for Internship opportunities. Any help will be appreciated.
Welcome to my app.


